* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: "Young Serif", "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root {
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-Raspberry: hsl(332, 51%, 32%);
    --White: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);
}

.root {
    background: var(--Eggshell);
    display: grid;
    place-content: center;
    min-width: 375px;
}

.recipe-card {
    height: auto;
    min-width: 375px;
    max-width: 40rem;
    background: var(--White);
    padding: 1.8rem;
    border-radius: 12px;
    margin: 8rem 0;
    
}

.recipe-card > img {
    max-width: 100%;
    border-radius: 12px;
}

.info h1{
    color: #000;
    font-size: 2.2rem;
    letter-spacing: .1rem;
    font-weight: 599;
}

.info p {
    font-size: .9rem;
    color: var(--Wenge-Brown);
    line-height: 1.5rem;
    font-family: "Outfit";
}

.bold-text {
    font-weight: bold;
}

.ul1 {
    background: var(--Rose-White);
    padding:1.4rem;
    border-radius: 12px;
    font-family: "Outfit";
}

.ul1 h2{
    font-size: 1.2rem;
    color: var(--Dark-Raspberry);
    margin-top: 0;
}

.ul1 ul {
    margin: 0;
    color: var(--Wenge-Brown);
    font-size: .9rem;
}

.ul1 ul li{
    padding-inline-start: 1rem;
    margin-block: .6rem;
}

.ul1 ul li::marker {
    color: var(--Dark-Raspberry);
    font-size: .7rem;
}

.ul-ingredients {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--Light-Grey);
}

.ul-ingredients h2{
    font-size: 1.8rem;
    color: var(--Nutmeg);
    font-weight: 500;
}

.ul-ingredients ul {
    color: var(--Wenge-Brown);
    font-size: .9rem;
    padding-inline-start: 1.5rem;
    font-family: "Outfit";
}

.ul-ingredients ul li {
    padding-inline-start: 1rem;
    margin-block: .7rem;
}

.ul-ingredients ul li::marker {
    color: var(--Dark-Raspberry);
    font-size: .7rem;
}


.ul-instruction {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--Light-Grey);
}

.ul-instruction h2{
    font-size: 1.8rem;
    color: var(--Nutmeg);
    font-weight: 500;
}

.ul-instruction ul {
    color: var(--Wenge-Brown);
    font-size: .9rem;
    padding-inline-start: 1.5rem;
    font-family: "Outfit";
    list-style-type: decimal;
}

.ul-instruction ul li {
    padding-inline-start: 1rem;
    margin-block: .7rem;
}

.ul-instruction ul li::marker {
    color: var(--Dark-Raspberry);
    font-weight: bold;
}

.ul-instruction {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--Light-Grey);
}